.btn-colorr{
    background-color: #029FAE !important;

}
.width-setting{
    width: fit-content;
}
.width-password{
    margin-left: 210px;
    color: #029FAE;
}
.color-sign-up{
    color: #029FAE;

}